.outer {
    position:   fixed;
    top:        51px;
    left:       0;
    right:      0;
    bottom:     0;
    overflow:   hidden;
    padding:    0;
}

.controls {
    padding: 20px;
    cursor: move;
    opacity: 0.65;
    zoom: 0.9;

    transition: opacity 500ms 1s;
    transition-delay: 0;
}

.controls:hover {
    opacity: 0.95;
    transition-delay: 0;
}

.needed {
    color: red !important;
}

.available {
    color: green !important;
}

#slider_timestamp_output {
    padding-left: 10px;
    padding-right: 10px;
}

.nav li a.disabled {
    background-color: #f8f8f8 !important;
    color: #999 !important;
    cursor: not-allowed !important;
    border-color: #f8f8f8 !important;
}

#panel_bearings_time {
  left: 55px;
  right: 70px;
  top: 61px;
  position: fixed;
  cursor: inherit;
  border: 2px solid rgba(0,0,0,0.2);
  padding: 5px 30px 0px 30px;
  background-color: #fff;
  border-radius: 5px;
}

.datetimeinput {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.time {
  border-radius: 0px 4px 4px 0px;
  width: 18%;
}

.date {
  border-radius: 4px 0px 0px 4px;
  width:29%;
}

.irs-grid-pol.center_mark {
  background-color: red;
  width: 2px;
}

.irs-grid-text.center_mark {
  color: red;
  top: 27px;
  font-weight: bold;
}
